{% extends 'base.html.twig' %}

{% block title %}  HOME {% endblock %}

{% block body %}
  
  {% if messages|length > 0 %}
    
    <ul>
    {% for key,message in messages %}
            <div>
                <a href={{ path('message', {id: key}) }}><li>{{ message.message }}</li></a>
            </div>
    
            {{ include('hello/_message.html.twig') }}
    {% endfor %}

    </ul>
{% endif %}

{% endblock %}

