{% extends 'base.html.twig '%}

{% block title %} 

    message-page 

{% endblock %}

{% block body %}

<div> 
    <b>{{message.message}} </b> 
    {{ include('hello/_message.html.twig') }}

</div>

{% endblock %}